<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.andrei.firstproject.homework_6_1_car">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="by.andrei.firstproject.READ_DATABASE" android:protectionLevel="normal" />
    <permission android:name="by.andrei.firstproject.WRITE_DATABASE" android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.AndroidHomework">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddCar"/>
        <activity android:name=".AddWork"/>
        <activity android:name=".EditCar"/>
        <activity android:name=".EditWork"/>
        <activity android:name=".WorkListActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="by.andrei.firstproject.homework_6_1_car.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file" />
        </provider>

        <provider
            android:authorities="by.andrei.firstproject.homework_6_1_car.data.WorkProvider"
            android:name=".data.WorkProvider"
            android:exported="true"
            android:enabled="true"
            android:readPermission="by.andrei.firstproject.READ_DATABASE"
            android:writePermission="by.andrei.firstproject.WRITE_DATABASE"/>
    </application>

</manifest>